body {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  padding-top: 20px;
}

.App {
  text-align: center;
  overflow-y: auto;
  width: 400px;
  background: #353e51;
  min-height: 800px;
  margin: 0 auto;
  @apply rounded-xl;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.dropdown-content {
  text-align: center @apply shadow-menu bg-accent/60 rounded backdrop-blur;
}
